{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Events</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/leaderboard.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" >
    <!-- Icons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<body>
    <nav>
        <div class="container">
            <h2 class="logo">Community</h2>
            <div class="search-bar">
                <i class="uil uil-search"></i>
                <input type="search" id="sec" placeholder="search"> 
            </div>
            <li>
                <a class="menu-item" id="notification" href="#">
                    <i class="uil uil-envelope"><small class="notification-count">9+</small></i>
                    
                </a>
            </li>
            <div class="create">
                <label class="btn btn-primary" for="cerat a post"> Organise</label>
                <div class="profile-photo">
                    <img src="{% static 'img/users.jpg' %}" alt="">
                </div>

            </div>
        </div>
    </nav>
    <main >
        <div class="container">
        <!-- Left -->
        <div class="left"> 
            <a href="#" class="profile"> 
                <div class="profile-photo">
                    <img src="{% static 'img/user.jpg' %}" alt="">
                </div>
                <div class="handel">
                    <h4>Shinan007<i class="uil-pen"></i></h4>
                    <p class="text-muted">bio...      </p>
                </div>
            </a>
            <!-- Side baar -->
            <div class="sidebar">
                <ul>
                    <li>
                        <a class="menu-item " href="#">
                            <i class="uil uil-edit"></i>
                            <span><h3>Your Posts</h3></span>
                        </a>
                    </li>
                    <li>
                        <a class="menu-item" href="Event">
                            <i class="uil uil-home"></i>
                            <span><h3>Events</h3></span>
                        </a>
                    </li>
                    <li>
                        <a class="menu-item" href="Wallet">
                            <i class="uil uil-globe"></i>
                            <span><h3>Wallet</h3></span>
                        </a>
                    </li>
                    <li>
                        <a class="menu-item" href="Complain">
                            <i class="uil uil-user-location"></i>
                            <span><h3>Complain</h3></span>
                        </a>
                    </li>
                   
                    <li>
                        <a class="menu-item active" href="leaderboard">
                            <i class="uil uil-calendar-alt"></i>
                            <span><h3>Leaderboard</h3></span>
                        </a>
                    </li>
                    <li>
                        <a class="menu-item" href="#">
                            <i class="uil uil-book-reader"></i>
                            <span><h3>Feedback</h3></span>
                        </a>
                    </li>
                   
                   
                    
                    <li>
                        <a class="menu-item" href="#">
                            <i class="uil uil-setting"></i>
                            <span><h3>Setting</h3></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End of Side Bar -->
            <label for="create-post" class="btn btn-primary">Create Post</label>
        </div>
        <!-- Mid -->
        <div class="middle">
            <div class="wrapper">
                <div class="right">
                        <div id="header">
                          <h1>Leaderboard</h1>
                          <button class="share">
                            <i class="bi bi-share-fill"></i>
                          </button>
                        </div>
                        <div id="leaderboard">
                          <div class="ribbon"></div>
                          <table>
                            <tr>
                              <td class="number">1</td>
                              <td class="name">Meri Colony</td>
                              <td class="points">
                                258 <img class="gold-medal" src="https://github.com/malunaridev/Challenges-iCodeThis/blob/master/4-leaderboard/assets/gold-medal.png?raw=true" alt="gold medal"/>
                              </td>
                            </tr>
                            <tr>
                              <td class="number">2</td>
                              <td class="name">Gb Ganga City</td>
                              <td class="points">257</td>
                            </tr>
                            <tr>
                              <td class="number">3</td>
                              <td class="name">Shri Murli Dhar Dham</td>
                              <td class="points">256</td>
                            </tr>
                            <tr>
                              <td class="number">4</td>
                              <td class="name">Shri Radha Vintage</td>
                              <td class="points">255</td>
                            </tr>
                            <tr>
                              <td class="number">5</td>
                              <td class="name">Ashoka Heights</td>
                              <td class="points">254</td>
                            </tr>
                            <tr>
                                <td class="number">6</td>
                                <td class="name">Shri Radha Vally</td>
                                <td class="points">254</td>
                              </tr>
                              <tr>
                                <td class="number">7</td>
                                <td class="name">Anand Van</td>
                                <td class="points">246</td>
                              </tr>
                              <tr>
                                <td class="number">8</td>
                                <td class="name">Highway City</td>
                                <td class="points">238</td>
                              </tr>
                              <tr>
                                <td class="number">9</td>
                                <td class="name">Chandanvan</td>
                                <td class="points">212</td>
                              </tr>
                              <tr>
                                <td class="number">10</td>
                                <td class="name">Township</td>
                                <td class="points">197</td>
                              </tr>
                          </table>
                        </div>
                </div>
                </div>
                </div>
                <!-- <button type="button" class="btn btn-primary">Primary</button> -->
        </div>
        <!-- Right -->
    </div>
    </main>
</body>
</html>