@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
:root{
    --color-dark:#353535;
    --color-white:hsl(252, 30%, 100%);
    --color-gray:hsl(252, 15%, 90%);
    --color-primary:#0F6C95;
    --color-secondary:#353535;
    --color-success:hsl(120, 95%, 65%);
    --color-danger:hsl(0, 95%, 65%);
    /* --color-dark:#7EB57D; */
    --color-black:hsl(252, 30%, 10%)
    --color-light: hsl(252, 30%, 95%);

    --border-radius: 2rem;
    --btn-padding: 0.6rem 2rem;
    --card-border-radius: 1rem;
    --search-padding:0.6rem 1rem;
    --card-padding: 1rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
    border: none;
    list-style: none;
    outline: none;
}
body{
    background: #f5f5f5;
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    background-image:repeating-linear-gradient(to bottom, rgb(237, 133, 20), white ,rgb(0, 162, 0));
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}
.profile-photo{
    width: 3.5rem;
    aspect-ratio: auto;
    border-radius: 40%;
    overflow: hidden;
}
img{
    display: block;
    width: 100%;
}
.btn{
    display: inline-block;
    padding: var(--btn-padding);
    border-radius: var(--border-radius);
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease; 
}
.btn:hover{
    opacity: 0.8;
}
.btn-primary{
    background-color: var(--color-primary);
    color: var(--color-white);
}
.text-bold{
    font-weight: 500;
}
.text-muted{
    color: var(--color-gray);
}
/* Nav Bar */
nav{
    background-color: var(--color-white);
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .container h2{
    color:#0F6C95;
}
nav .search-bar{
    background: var(--color-gray);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}
nav .search-bar input[type="search"]{
    border: none;
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark);
} 
nav .create{
    display: flex;
    align-items: center;
    gap: 2rem;
}
/* Main Section */
main{
    position: relative;
    top: 5.4rem;
}
main .container{
    display:grid;
    grid-template-columns: 18vw auto;
    column-gap: 2rem;
    position: relative;
}
main .container .left{
    height: max-content;
    position:sticky;
    top:5.4rem;
}
a .profile{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    background: var(--color-white);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
main .container .left .profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    padding: 1rem;
    width: 100%;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 1rem;
}
/* Side baar */
.left .sidebar{
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    padding: 0 0rem .2rem 0rem;
    width: 100%;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
    margin-top: 0.5rem;
}
.left .sidebar .menu-item{
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    transition: all 0.3s ease;
    column-gap: 1rem;
    width: 100%;
}
.left .sidebar .menu-item:hover{
    background: var(--color-gray);
    /* border-radius: var(--border-radius); */
}
.left .sidebar i{
    font-size: 1.2rem;
    color: var(--color-gray);
    margin-left: 2rem;
    position: relative;
    border-radius: 20px;
}
.left .sidebar i .notification-count, .notification-count{
    position: relative;
    top: -0.5rem;
    right: -0.5rem;
    background-color: var(--color-danger);
    color: var(--color-white);
    border-radius: 50%;
    padding: 0.2rem 0.4rem;
    font-size: 0.7rem;
}
.left .sidebar h3{
    font-size: 0.9rem;
    margin-left: 1.5rem;
    color: #0F6C95;
}
.left .sidebar .active{
    background: var(--color-gray);
    /* border-radius: var(--border-radius); */
}
.left .sidebar .active i{
    color: var(--color-primary);
}
.left .sidebar i{
    color:gray;
}
.left .sidebar .active h3{
    color: var(--color-primary);
}
.left .sidebar .active::before{
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 0.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
}
.left .sidebar .menu-items:first-child.active{
    border-top-left-radius: var(--border-radius);
    overflow: hidden; 
}
.left .sidebar .menu-items:last-child.active{
    border-bottom-left-radius: var(--border-radius);
    overflow: hidden; 
}
.left .btn{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    padding: 1rem 0;
}

/* Profile Style */
.middle{
    width: 90%;
    }
    .wrapper{
        width: 100%;
        height: 100%;
        display: flex;
    }
      
      .wrapper .left{
        width: 20%;
        background: linear-gradient(45deg, rgba(179, 230, 122) 0%, rgba(57, 255, 133) 100%);
        padding: 2rem 2rem;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: center;
        color: #fff;
        font-size: 1.2rem;
      } 
      .wrapper .right{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 90%;
        background: #fff;
        padding: 30px 25px;
        border-radius: var(--card-border-radius);
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
      }
      
      .wrapper .right .info,
      .wrapper .right .projects{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 5rem;
      }
      
      .wrapper .right .info h3,
      .wrapper .right .projects h3{
          margin-bottom: 15px;
          padding-bottom: 5px;
          border-bottom: 1px solid #e0e0e0;
          color: #353c4e;
         text-transform: uppercase;
         letter-spacing: 5px;
      }
      
      .wrapper .right .info_data,
      .wrapper .right .projects_data{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: space-between;
        flex-wrap: wrap;
      }
      
      .wrapper .right .info_data .data,
      .wrapper .right .projects_data .data{
        width: 50%;
        height: 50%;
        /* margin: .1rem; */
      }
      
      .wrapper .right .info_data .data h4,
      .wrapper .right .projects_data .data h4{
          color: #353c4e;
          margin-bottom: 5px;
      }
      
      .wrapper .right .info_data .data p,
      .wrapper .right .projects_data .data p{
        font-size: 13px;
        margin-bottom: 10px;
        color: #919aa3;
      }
      .wrapper .btn .btn-primary{
        position: absolute;
      }
      
/* Media Quries for small laptp and big Laptops */

@media screen and (max-width: 1020px){
    .container{
        width: 96%;
    }
    main .container{
        height:80vh;
        grid-template-columns: 5rem auto;
        gap: 1rem;
    }
    .left{
        width:5rem;
        z-index:5;
    }
    main .container .left .profile{
        display: none;
    }
    .sidebar h3{
        display: none;
    }
    .left .btn{
        display:none;
    }
    nav .search-bar{
        display: none;
    }
    nav .container .menu-item{
        display: none;
    }
}
/* Media Queries for small tabletes and mobile phone */

@media screen and (max-width: 500px){
   nav .search-bar{
       display: none;
   }
   main .container{
       grid-template-columns: 19rem auto;
       gap: 0;
   }
   main .container .left{
       grid-column: 3/4;
       position:fixed;
       bottom:0;
       right:0;
   }
}
/* Media Queries for small tabletes and mobile phone */

